research/.ipynb_checkpoints/Untitled-checkpoint.ipynb
research/.ipynb_checkpoints/20230527_Volume_Price_Analysis-checkpoint.ipynb
research/.ipynb_checkpoints/20230527_EWM_Analysis-checkpoint.ipynb
.DS_Store
project_scraping/__pycache__/csvlogging.cpython-310.pyc
.DS_Store
